@font-face {
  font-display: swap;
  font-family: 'Alice';
  font-weight: 400;
  font-style: normal;
  src: url('~@/assets/fonts/Alice-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Gabriela';
  font-weight: 400;
  font-style: normal;
  src: url('~@/assets/fonts/Gabriela-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('~@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
