@keyframes animArrowDown {
  0% {
    transform: translate(-50%, 0px);
  }

  50% {
    transform: translate(-50%, 15px);
  }

  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes loading-rotate {
  to {
      transform: rotate(1turn)
  }
}

@keyframes loading-dash {
  0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0
  }

  50% {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -40px
  }

  to {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -120px
  }
}
